:root {
    --brand-blue: #0e6eff;
    --brand-pink: #ff0eca;

    --text: #4a4a4a;

    --twitter: #1da1f2;
    --pinterest: #e60032;
    --reddit: #ff4500;
    --tumblr: #34465d;

    --light-gray: #e5e5e5;
    --dark-gray: #c8c8c8;
}