.input-field {
    font-family: "Rubik", sans-serif;

    background-color: var(--light-gray);
    color: var(--text);

    border: none;

    box-sizing: border-box;
}

.input-field:focus {
    outline: none;
}

.input-field.title {
    --title-scale: 4.8;
    font-size: calc(1em * var(--title-scale));
    width: calc(90em / var(--title-scale));
    border-radius: calc(.5em / var(--title-scale));
    padding: calc(1.4em / var(--title-scale)) calc(1.8em / var(--title-scale));
}

.input-field.multi-line {
    --multi-scale: 2.4;
    font-size: calc(1em * var(--multi-scale));
    width: calc(90em / var(--multi-scale));
    min-height: calc(11em / var(--multi-scale));
    border-radius: calc(.5em / var(--multi-scale));
    padding: calc(1.4em / var(--multi-scale)) calc(1.8em / var(--multi-scale));
    resize: vertical;
}

.input-field.tag {
    --tag-scale: 2.4; 
    font-size: calc(1em * var(--tag-scale));
    min-width: calc(10em / var(--tag-scale));
    max-width: calc(86.4em / var(--tag-scale));
    border-radius: calc(.5em / var(--tag-scale));
    padding: calc(1.4em / var(--tag-scale)) calc(1.8em / var(--tag-scale));
    background-color: white;

    text-align: start;
}

.tag-group {
    background-color: var(--light-gray);
    box-sizing: border-box;
    width: 90em;
    padding: 1.4em 1.8em;

    border-radius: .5em;

    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    gap: .5em;
}